<mat-vertical-stepper class="new-transaction" linear #stepper>
    <mat-step [stepControl]="step1FormGroup">
        <form [formGroup]="step1FormGroup">
            <ng-template matStepLabel>Tipo e Categoria</ng-template>
            <div class="new-transaction__step-container">
                <mat-form-field appearance="fill">
                    <mat-label>Tipo</mat-label>
                    <mat-select id="transactionType" formControlName="transactionType">
                        <mat-option value="CREDIT">Crédito</mat-option>
                        <mat-option value="EXPENSE">Despesa</mat-option>
                    </mat-select>
                    <mat-error *ngIf="step1FormGroup.get('transactionType')?.hasError('required')">
                        O tipo é obrigatório
                    </mat-error>
                </mat-form-field>

                <ng-container *ngIf="step1FormGroup.get('transactionType')?.value">
                    <mat-form-field appearance="fill">
                        <mat-label>Categoria</mat-label>
                        <mat-select id="category" formControlName="category">
                            <mat-option
                                *ngFor="let cat of step1FormGroup.get('transactionType')?.value === 'CREDIT' ? creditCategories : expenseCategories"
                                [value]="cat.id">
                                {{ cat.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="step1FormGroup.get('category')?.hasError('required')">
                            A categoria é obrigatória
                        </mat-error>
                    </mat-form-field>
                </ng-container>
            </div>
            <div>
                <button mat-button color="warn" mat-dialog-close>Cancelar</button>
                <button mat-button matStepperNext [disabled]="!step1FormGroup.valid">Próximo</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="step2FormGroup">
        <form [formGroup]="step2FormGroup">
            <ng-template matStepLabel>Título, Descrição e Valor</ng-template>
            <div class="new-transaction__step-container">
                <mat-form-field appearance="fill">
                    <mat-label>Título</mat-label>
                    <input id="title" matInput placeholder="Luz" type="text" formControlName="title">
                    <mat-error *ngIf="step2FormGroup.get('title')?.hasError('required')">
                        O título é obrigatório
                    </mat-error>
                    <mat-error *ngIf="step2FormGroup.get('title')?.hasError('minlength')">
                        O título deve ter pelo menos 3 caracteres
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Descrição</mat-label>
                    <textarea id="description" matInput placeholder="Conta de energia elétrica"
                        formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Valor</mat-label>
                    <input id="value" matInput type="number" formControlName="value">
                    <mat-error *ngIf="step2FormGroup.get('value')?.hasError('required')">
                        O valor é obrigatório
                    </mat-error>
                    <mat-error *ngIf="step2FormGroup.get('value')?.hasError('min')">
                        O valor deve ser maior ou igual a um centavo
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button matStepperNext [disabled]="!step2FormGroup.valid">Próximo</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="step3FormGroup">
        <form [formGroup]="step3FormGroup">
            <ng-template matStepLabel>Data e Mês Corrente</ng-template>
            <div class="new-transaction__step-container">
                <mat-form-field appearance="fill">
                    <mat-label>Data</mat-label>
                    <input id="date" matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="step3FormGroup.get('date')?.hasError('required')">
                        A data é obrigatória
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Mês Corrente</mat-label>
                    <mat-select id="currentMonth" formControlName="currentMonth">
                        <mat-option *ngFor="let month of months" [value]="month.value">
                            {{ month.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="step3FormGroup.get('currentMonth')?.hasError('required')">
                        O mês corrente é obrigatório
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button color="primary" type="submit" (click)="registerTransaction($event)"
                    [disabled]="!step3FormGroup.valid">
                    Salvar
                </button>
            </div>
        </form>
    </mat-step>
</mat-vertical-stepper>