<div class="new-transaction">
    <h2 mat-dialog-title>Nova Transação</h2>
    <form (submit)="registerTransaction($event)">
        <mat-dialog-content class="new-transaction__form-fields">
            <mat-form-field>
                <mat-label>Título</mat-label>
                <input id="title" matInput placeholder="Luz" type="text" [formControl]="title">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Descrição</mat-label>
                <textarea id="description" matInput placeholder="Conta de energia elétrica"
                    [formControl]="description"></textarea>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Valor</mat-label>
                <input id="value" matInput type="number" [formControl]="value">
            </mat-form-field>

            <label>Tipo</label>
            <mat-radio-group id="transactionType" aria-label="Tipo de transação" [formControl]="transactionType">
                <mat-radio-button value="CREDIT">Crédito</mat-radio-button>
                <mat-radio-button value="EXPENSE">Despesa</mat-radio-button>
            </mat-radio-group>

            <ng-container *ngIf="transactionType.dirty">
                <mat-form-field>
                    <mat-label>Categoria</mat-label>
                    <mat-select id="category" [formControl]="category">
                        <mat-option
                            *ngFor="let category of transactionType.value === 'CREDIT' ? creditCategories : expenseCategories"
                            [value]="category.id">{{ category.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>

            <mat-form-field>
                <mat-label>Data</mat-label>
                <input id="date" matInput [matDatepicker]="picker" [formControl]="date">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Mês corrente</mat-label>
                <mat-select id="currentMonth" [formControl]="currentMonth">
                    <mat-option *ngFor="let month of months" [value]="month.value">{{ month.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button mat-flat-button color="primary" type="submit">Salvar</button>
            <button mat-flat-button color="warn" mat-dialog-close>Cancelar</button>
        </mat-dialog-actions>
    </form>
</div>