<table mat-table [dataSource]="transactions">
    <!-- Id -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.id }} </td>
    </ng-container>

    <!-- Title -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.title }} </td>
    </ng-container>

    <!-- Description -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.description }} </td>
    </ng-container>

    <!-- Value -->
    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.value }} </td>
    </ng-container>

    <!-- Type -->
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.type }} </td>
    </ng-container>

    <!-- Current Month -->
    <ng-container matColumnDef="currentMonth">
        <th mat-header-cell *matHeaderCellDef> Mês Corrente </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.currentMonth }} </td>
    </ng-container>

    <!-- Date -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.date }} </td>
    </ng-container>

    <!-- Time -->
    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Horário </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.time }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>