<div>
    <h2 mat-dialog-title>{{ transaction.title }}</h2>
    <mat-dialog-content>
        <div>
            <p>ID: {{ transaction.id }}</p>
            <p>Categoria: {{ transaction.category.name }}</p>
            <p>Descrição: {{ transaction.description }}</p>
            <div class="transaction-details__value">
                <p>Valor: {{ transaction.value | currency }}</p>
                <img [src]="transaction.type | transactionTypeIcon" alt="arrow">
            </div>
            <p>Data: {{ transaction.date | date }}</p>
            <p>Mês Corrente: {{ transaction.currentMonth | currentMonthPt | titlecase }}</p>
            <p>Hora: {{ ('1970-01-01T' + transaction.timestamp) | date: 'HH:mm' }}</p>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button *ngIf="transaction.hasReceipt" mat-raised-button color="primary" class="file-select-button" (click)="onClickDownloadReceipt()">
            <mat-icon>file_download</mat-icon>
            Comprovante
        </button>
        <button mat-flat-button color="warn" mat-dialog-close>Fechar</button>
    </mat-dialog-actions>
</div>