<div class="consolidated-month">
    <header class="consolidated-month__header">
        <h1>Consolidado do Mês</h1>
        <mat-form-field>
            <mat-label>Mês</mat-label>
            <mat-select id="currentMonth" [formControl]="currentMonth">
                <mat-option *ngFor="let month of months" [value]="month.value">{{ month.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </header>

    <section class="consolidated-month__content">
        <table mat-table [dataSource]="consolidatedTransactions" class="consolidated-month__expenses">
            <!-- Title -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Despesa </th>
                <td mat-cell *matCellDef="let consolidated" (click)="openExpenseDetails(consolidated)"
                    class="consolidated-month__expenses__row">
                    {{ consolidated.title }}
                </td>
            </ng-container>

            <!-- Value -->
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let consolidated" (click)="openExpenseDetails(consolidated)"
                    class="consolidated-month__expenses__row">
                    <div class="consolidated-month__expenses__value">
                        <img [src]="consolidated.transactions[0].type | transactionTypeIcon" alt="arrow">
                        <p>{{ consolidated.total | currency }}</p>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>

        <div>
            <div class="consolidated-month__balances-row">
                <h3>Créditos:</h3>
                <p>{{ totals.credits | currency }}</p>
            </div>
            <div class="consolidated-month__balances-row">
                <h3>Despesas:</h3>
                <p>{{ totals.expenses | currency }}</p>
            </div>
            <div class="consolidated-month__balances-row">
                <h3>Saldo:</h3>
                <p>{{ balance | currency }}</p>
            </div>
            <div class="consolidated-month__balances-row">
                <h3>Saldo + Valores a receber:</h3>
                <p>{{ balancePlusRemainingPayments | currency }}</p>
            </div>
        </div>
    </section>
</div>